*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  text-align: center;
}

section {
  padding: 110px 0 100px 0;
}

.section-title {
  font-size: 40px;
  margin: 0;
}

.section-description {
  font-size: 16px;
  font-style: italic;
  font-family: "Droid Serif", sans-serif;
  margin: 0;
  padding-bottom: 80px;
  color: #777777;
}

/* Splash */
.splash {
  position: relative;
  height: 880px;
  background-image: url("../images/Background Image.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.splash .menu-elements {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 35px;
}

.splash .menu-elements .logo {
  text-align: left;
  padding-left: 0;
}

.splash .menu-elements .menu {
  padding-right: 0;
}

.splash .menu-elements .menu ul {
  padding: 0;
  margin: auto;
  list-style-type: none;
  text-align: right;
}

.splash .menu-elements .menu ul li {
  position: relative;
  display: inline-block;
  margin-right: 36px;
}

.splash .menu-elements .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: all 1s;
}

.splash .menu-elements .menu ul li a:hover {
  color: #FED136;
}

.splash .menu-elements .menu ul li:last-of-type {
  margin-right: 0;
}

.splash .splash-description {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  color: #ffffff;
}

.splash .splash-description h1:first-of-type {
  font-style: italic;
  font-size: 40px;
  font-family: "Droid Serif", sans-serif;
  margin: 0;
}

.splash .splash-description h1:nth-child(2) {
  font-size: 75px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 40px;
}

.splash .splash-description .btn {
  padding: 20px 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  background: #FED136;
  color: #ffffff;
  transition: all 1s;
}

.splash .splash-description .btn:hover {
  background-color: #ffffff;
  color: #FED136;
}

.splash::before {
  position: absolute;
  content: '';
  background: #000000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

/* Services */
.service {
  display: -ms-flexbox;
  display: flex;
}

.service .services-title {
  display: block;
}

.service .services-elements {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.service .services-elements .service-element {
  padding: 0 25px;
}

.service .services-elements .service-element i {
  font-size: 30px;
  width: 66px;
  height: 66px;
  line-height: 63px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #FED136;
  color: #FED136;
}

.service .services-elements .service-element p:first-of-type {
  font-size: 18px;
}

.service .services-elements .service-element p:nth-child(3) {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto Slab", serif;
}

/* Portfolio */
.portfolio {
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F7;
}

.portfolio .portfolio-title {
  display: block;
}

.portfolio .portfolio-elements {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.portfolio .portfolio-elements .portfolio-element {
  background-color: #ffffff;
  width: 30%;
  margin: 20px auto;
}

.portfolio .portfolio-elements .portfolio-element img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.portfolio .portfolio-elements .portfolio-element .portfolio-element-description {
  margin: 15px auto;
}

.portfolio .portfolio-elements .portfolio-element .portfolio-element-description p:first-of-type {
  font-size: 18px;
  margin: 0;
}

.portfolio .portfolio-elements .portfolio-element .portfolio-element-description p:nth-child(2) {
  font-style: italic;
  font-size: 15px;
  font-family: "Droid Serif", sans-serif;
  margin: 0;
  color: #777777;
}

/* Footer */
footer {
  padding: 30px 0;
}

footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

footer p {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 14px;
}

footer .icons {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

footer .icons i {
  font-size: 20px;
  background: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  line-height: 40px;
}

/* Media */
@media (max-width: 1014px) {
  .portfolio .portfolio-elements .portfolio-element {
    width: 40%;
  }
  footer .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  footer .container .icons {
    position: relative;
    right: unset;
    transform: unset;
  }
  footer .container p {
    display: block;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .menu-elements {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .menu-elements .logo {
    margin: auto;
    padding-right: 0;
    -ms-flex-align: center;
        align-items: center;
  }
  .menu-elements .menu {
    padding: 0;
  }
  .splash .menu-elements .menu ul li {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .service .services-elements {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .service .services-elements .service-element {
    max-width: 100%;
    padding-bottom: 30px;
  }
  .portfolio .portfolio-elements .portfolio-element {
    width: 90%;
  }
}

@media (max-width: 560px) {
  .splash .splash-description h1:first-of-type {
    font-size: 30px;
  }
  .splash .splash-description h1:nth-child(2) {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */