$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #FED136;
$color-gray: #777777;

$font-main: 'Montserrat', sans-serif;
$font-second: 'Droid Serif', sans-serif;
$font-third: 'Roboto Slab', serif;

$transition: all 1s;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: $font-main;
    line-height: 1.7;
    text-align: center;
}

section {
    padding: 110px 0 100px 0;
}

.section-title {
    font-size: 40px;
    margin: 0;
}

.section-description {
    font-size: 16px;
    font-style: italic;
    font-family: $font-second;
    margin: 0;
    padding-bottom: 80px;
    color: $color-gray;
}

/* Splash */

.splash {
    position: relative;
    height: 880px;
    background-image: url("../images/Background\ Image.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .menu-elements {
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        
        .logo {
            text-align: left;
            padding-left: 0;
        }

        .menu {
            padding-right: 0;

            ul {
                padding: 0;
                margin: auto;
                list-style-type: none;
                text-align: right;
                
                li {
                    position: relative;
                    display: inline-block;
                    margin-right: 36px;
    
                    a {
                        text-decoration: none;
                        color: $color-white;
                        font-size: 14px;
                        transition: $transition;
                    }
    
                    a:hover {
                        color: $color-yellow;
                    }
                }

                li:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .splash-description {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        color: $color-white;

        h1:first-of-type {
            font-style: italic;
            font-size: 40px;
            font-family: $font-second;
            margin: 0;
        }

        h1:nth-child(2) {
            font-size: 75px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 40px;
        }

        .btn {
            padding: 20px 50px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-width: 0;
            border-style: solid;
            background: $color-yellow;
            color: $color-white;
            transition: $transition;
        }

        .btn:hover {
            background-color: $color-white;
            color: $color-yellow;
        }
    }
}

.splash::before {
    position: absolute;
    content: '';
    background: $color-black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

/* Services */

.service {
    display: flex;

    .services-title {
        display: block;
    }

    .services-elements {
        display: flex;
        justify-content: space-between;

        .service-element {
            padding: 0 25px;

            i {
                font-size: 30px;
                width: 66px;
                height: 66px;
                line-height: 63px;
                border-radius: 50%;
                border-width: 3px;
                border-style: solid;
                border-color: $color-yellow;
                color: $color-yellow;
            }

            p:first-of-type {
                font-size: 18px;
            }

            p:nth-child(3) {
                font-size: 14px;
                color: $color-gray;
                font-family: $font-third;
            }
        }
    } 
}

/* Portfolio */

.portfolio {
    display: flex;
    background-color: #F7F7F7;
    
    .portfolio-title {
        display: block;
    }

    .portfolio-elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .portfolio-element {
            background-color: $color-white;
            width: 30%;
            margin: 20px auto;

            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
            }

            .portfolio-element-description {
                margin: 15px auto;

                p:first-of-type {
                    font-size: 18px;
                    margin: 0;
                }
    
                p:nth-child(2) {
                    font-style: italic;
                    font-size: 15px;
                    font-family: $font-second;
                    margin: 0;
                    color: $color-gray;
                }
            }
            
        }
        
    }
}

/* Footer */

footer {
    padding: 30px 0;
    
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        display: flex;
        // position: absolute;
        text-align: left; 
        font-size: 14px;       
    }

    .icons {
        position: absolute;
        right: 50%;
        transform: translate(50%);
        i {
            font-size: 20px;
            background: $color-black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            color: $color-white;
            line-height: 40px;
        }
    }    
}

/* Media */

@media(max-width: 1014px) {
    .portfolio {
        .portfolio-elements {
            .portfolio-element {
                width: 40%;
            }
        }
    }

    footer .container {
            flex-direction: column;

            .icons {
                position: relative;
                right: unset;
                transform: unset;
            }

            p {
                display: block;
                position: relative;
                text-align: center;
            }
        }
        
    }


@media(max-width: 767px) {
    .menu-elements {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin: auto;
            padding-right: 0;
            align-items: center;
        }

        .menu {
            padding: 0;
        }
    }

    .splash .menu-elements .menu ul li {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .service {
        .services-elements {
            flex-direction: column;
            align-content: center;

            .service-element {
                max-width: 100%;
                padding-bottom: 30px;
            }
        }
    }   

    .portfolio {
        .portfolio-elements {
            .portfolio-element {
                width: 90%;
            }
        }
    }
}

@media(max-width: 560px) {
    .splash {
        .splash-description{
            h1:first-of-type {
                font-size: 30px;
            }

            h1:nth-child(2) {
                font-size: 50px;
            }
        }
    }
}
